html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #ffffff;
}
#calendar {
  height: 95%;
}
.toolbar {
  padding: 10px;
  background-color: #1e1e1e;
  color: white;
  text-align: right;
}
.fc-theme-standard .fc-scrollgrid {
  border-color: #444;
}
.fc-daygrid-event {
  background-color: #333;
  color: #fff;
}
.light-mode {
  background-color: #ffffff;
  color: #000000;
}
.light-mode .fc-daygrid-event {
  background-color: #e0e0e0;
  color: #000000;
}
.light-mode .toolbar {
  background-color: #f0f0f0;
  color: #000000;
}
.light-mode .fc-theme-standard .fc-scrollgrid {
  border-color: #ccc;
}
