name: .NET Build and Test

on:
  push:
    tags:
      - 'v*'  # triggers only on version tags like v1.0.0, v2.1.3
#     branches: [ main ]
#   pull_request:
#     branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GHCR_PAT }}

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'
    - name: Restore dependencies
      run: dotnet restore MovieReleaseCalendar.sln
    - name: Build
      run: dotnet build MovieReleaseCalendar.sln --configuration Release --no-restore
    - name: Test
      run: dotnet test MovieReleaseCalendar.sln --no-build --verbosity normal

    - name: Build and push Docker image
      run: |
        docker build --no-cache -t ghcr.io/${{ github.repository }}:latest .
        docker push ghcr.io/${{ github.repository }}:latest
